In [ ]:
#level 1

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

In [9]:
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Apple', 'Twitter', 'Google', 'IBM', 'Facebook', 'Oracle', 'Amazon'}

In [10]:
it_companies = {'Google', 'Facebook', 'Apple', 'Amazon'}
it_companies |= {'Twitter', 'LinkedIn', 'Uber', 'Dropbox'}
print(it_companies)

{'Dropbox', 'Apple', 'Twitter', 'Google', 'LinkedIn', 'Facebook', 'Uber', 'Amazon'}

In [15]:
it_companies.remove('Facebook')
print(it_companies)

{'Dropbox', 'Apple', 'Twitter', 'Google', 'LinkedIn', 'Uber', 'Amazon'}

In [16]:
#discard
s = {1, 2, 3}
s.remove(2)   
s.remove(4)

KeyError: ignored

## discard() method does not raise any error if the element is not in the set

In [17]:
#remove
s = {1, 2, 3}
s.discard(2)   
s.discard(4)

# remove() method when you are sure that the element is in the set and you want to raise an error if it's not

In [ ]:
#level2

In [19]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A | B
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [21]:
C = A.intersection(B)
print(C)

{19, 20, 22, 24, 25, 26}

In [22]:
print(A.issubset(B))

True

In [23]:
print(A.isdisjoint(B))

False

In [26]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

C=A.union(B)
print('A UNION B:',C)

D=B.union(A)
print('B UNION A :',D)

A UNION B: {19, 20, 22, 24, 25, 26, 27, 28}
B UNION A : {19, 20, 22, 24, 25, 26, 27, 28}

In [27]:
C=A^B
print(C)

{27, 28}

# The symmetric difference of A and B is the same as the union of A and B with the intersection of A and B removed.

In [28]:
del A 
del B

In [ ]:
#level 3

In [30]:
ages = [10, 15, 20, 25, 30, 35, 40, 45, 50]
ages_set = set(ages)

print("Length of the list: ", len(ages))
print("Length of the set: ", len(ages_set))

if len(ages) > len(ages_set):
    print("List is bigger than the set")
elif len(ages) < len(ages_set):
    print("Set is bigger than the list")
else:
    print("List and Set have the same length")

Length of the list:  9
Length of the set:  9
List and Set have the same length

1.STRING: it can include letters , numbers and special characters and it is in round brackets().

2.LIST: it can be of any data type and it is in square brackets[].

3.TUPLE: it can store any data type but they cannot be modified and it is in round brackets().

4.SET: it is used to set operations like union, intersection.etc and they are in curly brackets{}.

In [34]:
sent="I am a teacher and I love to inspire and teach people"
print("I am a teacher and I love to inspire and teach people",sent.split())

I am a teacher and I love to inspire and teach people ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']