In [ ]:
#level1-1
age= int(input('Enter your age:'))

if age >= 18:
     print('You are old enough to drive.')
else:
     print("You need to wait for " + str(18 - age) + " more years before you can drive.")

Enter your age:12
You need to wait for 6 more years before you can drive.

In [ ]:
#level-2
my_age=25
your_age=int(input('Enter your age:'))

if my_age>=your_age:
   age_diff=my_age-your_age
   if age_diff == 1:
        print("I am older than you by 1 year.")
   else:
        print("I am older than you by " + str(age_diff) + " years.")
elif my_age < your_age:
    age_diff = your_age - my_age
    if age_diff == 1:
        print("You are older than me by 1 year.")
    else:
        print("You are older than me by " + str(age_diff) + " years.")
else:
    print("We are the same age.")

Enter your age:30
You are older than me by 5 years.

In [ ]:
#level1-3
from re import A
a=int(input('Enter number one:'))
b=int(input('Enter number two:'))

if a > b:
   print('a is greater than b.')
elif a < b:
    print('a is smaller than b.')
else:
    print('a is equal to b.')

Enter number one:4
Enter number two:6
a is smaller than b.

In [ ]:
#level2-1
marks=int(input('Enter your marks:'))

if marks >= 80 and marks <= 100:
    print("Grade: A")
elif marks >= 70 and marks <= 89:
    print("Grade: B")
elif marks >= 60 and marks <= 69:
    print("Grade: C")
elif marks >= 50 and marks <= 59:
    print("Grade: D")
elif marks >= 0 and marks <= 49:
    print("Grade: F")
else:
    print("Invalid score. Please enter a score between 0 and 100.")

Enter your marks:90
Grade: A

In [10]:
#level2-2
month=input('Enter the month:')
if month in ('September','October','November'):
   print('The season is Autumn')
elif month in ('December','January','February'):
   print('The Season is Winter')   
elif month in ('March','April','May'):
   print('The Season is Spring')
elif month in ('June','July','August'): 
   print('The Season is Summer')
else:
   print('Invalid month.')

Enter the month:June
The Season is Summer

In [13]:
fruits = ['banana', 'orange', 'mango', 'lemon']
new_fruit='strawberry'
if new_fruit not in fruits:
   fruits.append(new_fruit)
   print(fruits)
else:
   print('That fruit already exist in the list')

['banana', 'orange', 'mango', 'lemon', 'strawberry']

In [15]:
#level 3
person={
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
    }
print(person)

{'first_name': 'Asabeneh', 'last_name': 'Yetayeh', 'age': 250, 'country': 'Finland', 'is_marred': True, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [21]:
if 'skills' in person:
    skills = person['skills']
    middle_index = len(skills) // 2
    print(skills[middle_index])

Node

In [23]:
if 'skills' in person:
    skills = person['skills']
    print('Python')

Python

In [33]:
print(person)

{'first_name': 'Asabeneh', 'last_name': 'Yetayeh', 'age': 250, 'country': 'Finland', 'is_marred': True, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [37]:
if 'skills' in person:
    skills = set(person['skills'])
    if skills.issubset ({'JavaScript','React' }):
        print('He is a front end developer')
    elif skills.issubset ({'Node', 'Python', 'MongoDB'}):
        print('He is a backend developer')
    elif skills.issubset({'React', 'Node' , 'MongoDB'}):
        print('He is a fullstack developer')
    else:
        print('unknown title')

unknown title

In [42]:
print(person)

{'first_name': 'Asabeneh', 'last_name': 'Yetayeh', 'age': 250, 'country': 'Finland', 'is_marred': True, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [44]:
if person['is_marred'] and person ['country'] == 'Finland':
   print(f"{person['first_name']} lives in {person['country']}. He is married.")

Asabeneh lives in Finland. He is married.