In [1]:
dict={'dog'}
print(dict)

{'dog'}

In [2]:
dict={'name':'sushi','color':'cream','breed':'golden retriever','legs':'4','age':'5'}
print(dict)

{'name': 'sushi', 'color': 'cream', 'breed': 'golden retriever', 'legs': '4', 'age': '5'}

In [5]:
student_dictionary={'first_name':'aboli','last_name':'kokane','gender':'female','age':'23','marital_status':'not_married','skills':['python,tableau'],'country':'india','city':'mumbai','address':'mumbai'}
print(student_dictionary)

{'first_name': 'aboli', 'last_name': 'kokane', 'gender': 'female', 'age': '23', 'marital_status': 'not_married', 'skills': ['python,tableau'], 'country': 'india', 'city': 'mumbai', 'address': 'mumbai'}

In [6]:
print(len(student_dictionary))

9

In [8]:
skills=student_dictionary['skills']
print(skills)
print(type(skills))

['python,tableau']
<class 'list'>

In [16]:
print(student_dictionary)

student_dictionary['skills'].extend(['c++','SQL'])
print(skills)

{'first_name': 'aboli', 'last_name': 'kokane', 'gender': 'female', 'age': '23', 'marital_status': 'not_married', 'skills': ['python,tableau', 'c++', 'SQL', 'c++', 'SQL', 'c++', 'SQL'], 'country': 'india', 'city': 'mumbai', 'address': 'mumbai'}
None

In [18]:
keys=list(student_dictionary)
print(keys)

['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [20]:
values=list(student_dictionary.values())
print(values)

['aboli', 'kokane', 'female', '23', 'not_married', ['python,tableau', 'c++', 'SQL', 'c++', 'SQL', 'c++', 'SQL', 'c++', 'SQL'], 'india', 'mumbai', 'mumbai']

In [22]:
student_dictionary=list(student_dictionary.items())
print(student_dictionary)

[('first_name', 'aboli'), ('last_name', 'kokane'), ('gender', 'female'), ('age', '23'), ('marital_status', 'not_married'), ('skills', ['python,tableau', 'c++', 'SQL', 'c++', 'SQL', 'c++', 'SQL', 'c++', 'SQL']), ('country', 'india'), ('city', 'mumbai'), ('address', 'mumbai')]

In [32]:
student_dictionary={'first_name':'aboli','last_name':'kokane','gender':'female','age':'23','marital_status':'not_married','skills':['python,tableau'],'country':'india','city':'mumbai','address':'mumbai'}
print(student_dictionary)
del student_dictionary['country']
print(student_dictionary)

{'first_name': 'aboli', 'last_name': 'kokane', 'gender': 'female', 'age': '23', 'marital_status': 'not_married', 'skills': ['python,tableau'], 'country': 'india', 'city': 'mumbai', 'address': 'mumbai'}
{'first_name': 'aboli', 'last_name': 'kokane', 'gender': 'female', 'age': '23', 'marital_status': 'not_married', 'skills': ['python,tableau'], 'city': 'mumbai', 'address': 'mumbai'}

In [33]:
del dict