In [2]:
tuple=('')
print(tuple)

In [3]:
tuple=('omkar','aniruddha','avadhoot','aditi','kirti')
print(tuple)

('omkar', 'aniruddha', 'avadhoot', 'aditi', 'kirti')

In [5]:
tuple1=('omkar','aniruddha','avadhoot')
tuple2=('aditi','kirti','vaishnavi','aishwarya')
siblings= tuple1 + tuple2
print('siblings:',siblings)

siblings: ('omkar', 'aniruddha', 'avadhoot', 'aditi', 'kirti', 'vaishnavi', 'aishwarya')

In [6]:
print(len(siblings))

7

In [7]:
father='shankar'
mother='vaishali'
family_members= siblings + (father , mother)
print(family_members)

('omkar', 'aniruddha', 'avadhoot', 'aditi', 'kirti', 'vaishnavi', 'aishwarya', 'shankar', 'vaishali')

In [8]:
del family_members

In [11]:
tuple1=('orange','apple')
tuple2=('spanish','cabbage')
tuple3=('milk','chicken')
food_stuff_tp=tuple1+tuple2+tuple3
print('food_stuff_tp:',food_stuff_tp)

food_stuff_tp: ('orange', 'apple', 'spanish', 'cabbage', 'milk', 'chicken')

In [13]:
food_stuff_tp=list(food_stuff_tp)
print('food_stuff_tp:',food_stuff_tp)

food_stuff_tp: ['orange', 'apple', 'spanish', 'cabbage', 'milk', 'chicken']

In [14]:
middle = len(food_stuff_tp) // 2
middle_items = food_stuff_tp[middle-1:middle+2]

print(middle_items)

['spanish', 'cabbage', 'milk']

In [16]:
tuple1=('orange','apple')
tuple2=('spanish','cabbage')
tuple3=('milk','chicken')
food_stuff_tp=tuple1+tuple2+tuple3
print('food_stuff_tp:',food_stuff_tp)

food_stuff_tp: ('orange', 'apple', 'spanish', 'cabbage', 'milk', 'chicken')

In [20]:
first_two = food_stuff_tp[:2]
last_two = food_stuff_tp[-2:]

print('first_two:',first_two)
print('last_two:',last_two)

first_two: ('orange', 'apple')
last_two: ('milk', 'chicken')

In [21]:
del food_stuff_tp

In [22]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Estonia' in nordic_countries) 

print('Iceland' in nordic_countries)

False
True