In [ ]:
list=[]
print(list)

[]

In [ ]:
list=['omkar','aboli','ajay','sahil','anand','ani']
print(list)

['omkar', 'aboli', 'ajay', 'sahil', 'anand', 'ani']

In [ ]:
print(len(list))

6

In [ ]:
first=list[0]
print(first)

omkar

In [ ]:
middle=list[len(list) // 2]
print(middle)

sahil

In [ ]:
last=list[-1]
print(last)

ani

In [ ]:
list=['aboli','23','151.5','not married','mumbai']
print(list)

['aboli', '23', '151.5', 'not married', 'mumbai']

In [ ]:
It_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(It_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']